@{
    ViewData["Title"] = "Home Page";
}
<h1 class="display-4" style="font-weight:400">Welcome to home page</h1>
<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
